

$app-font-family-bakbak-one: "Bakbak One", serif;
$app-font-family-poppins: "Poppins", serif;
$col-link: #fff;

//Navbar
$navbar-bg: #000;
$navbar-color: #fff;

//Loader
$loader-bg: rgba(0,0,0,0.7);
$loader-text: #fff;

//AppButton
$app-button-primary-bg: #21e786;
$app-button-primary: #000;
$app-button-secondary: #fff;
$app-button-secondary-border: #21e786;

//InputField
$input-field-error: #ff0000;

